= provide(:title, @user.name)
.row
	%aside.span4
		%section
			= gravatar_for @user
			%h1
				= @user.name
	.span8
		- if @total_micros > 0
			%h3="Microposts #{@total_micros}"
			%ol.microposts
				=render :partial => "microposts/micropost", :locals => {:micros => @microposts}
			= will_paginate @microposts